body{
	min-height: 100vh;
	background-color: #FFF;
}

.alerta{
	transform: translateY(70%);
}

.login-form {
	margin-top: 50vh;
	padding: 20px 30px;
	background-color: rgba(53, 193, 86, .9);
	
	color: #FFF;
	
	transform: translateY(-50%);
	border-radius:14px;
}

.login-form h1 {
	margin: 0 0 5px;
}

.login-form h2 {
	margin: 0 0 30px;
	font-size: 1em;
}

@media (max-width: 767px){
	.login-form {		
		transform: translateY(-60%);
	}	
}